<div *ngIf="financeSummary$ | async as financeSummary" class="ts-flex">
  <div class="summary-item">
    <div class="cost">
      {{
        financeSummary.PurchasePriceAfterPotentialSavings
          | currency: "USD":"symbol":"1.0-0"
      }}
      <span
        *ngIf="
          financeSummary.type === financeType.Lease ||
          financeSummary.type === financeType.Loan
        "
      >
        /mo</span
      >
    </div>
    <div>After potential savings</div>
  </div>

  <div class="summary-item">
    <div class="cost">
      {{ financeSummary.PurchasePrice | currency: "USD":"symbol":"1.0-0" }}
      <span
        *ngIf="
          financeSummary.type === financeType.Lease ||
          financeSummary.type === financeType.Loan
        "
      >
        /mo</span
      >
    </div>
    <div>Purchase price</div>
  </div>
</div>
