.autopilot-info {
  margin: 50px 100px 0;
}

.autopilot-details {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #333;
  background: #f6f6f6;;
  background-size: cover;
  width: 100%;
}

.video {
  mix-blend-mode: darken;
  width: 100%;
}
