<div class="autopilot-details">
  <div class="autopilot-info">
    <h2>Autopilot</h2>
    <p class="feature-item">
      Autopilot advanced safety and convenience features are designed to assist
      you with the most burdensome parts of driving. All new Tesla cars come
      standard with driver assistance features such as emergency braking,
      collision warning and blind-spot monitoring.
    </p>
  </div>

  <video
    [src]="autopilotVideo"
    autoplay=""
    title="AUTOPILOT"
    id="video-id"
    class="video"
  ></video>
</div>
