<div class="car-drive-section" *ngIf="state">
  <h1>Select Your Car</h1>

  <span>All cars have a power trunk, glass roof, and Autopilot</span>

  <h3 class="sub-heading">Rear-Wheel Drive</h3>

  <button
    mat-stroked-button
    color="primary"
    class="btn-300 btn-margin"
    [class.active]="driveTypes.StandardRangePlus === state.drive.drive"
    (click)="onDriveTypeChange(driveTypes.StandardRangePlus)"
  >
    Standard Range Plus
  </button>

  <h3 class="sub-heading">Dual Motor All-Wheel Drive</h3>

  <div>
    <button
      mat-stroked-button
      color="primary"
      class="btn-300 btn-margin"
      [class.active]="driveTypes.LongRange === state.drive.drive"
      (click)="onDriveTypeChange(driveTypes.LongRange)"
    >
      Long Range
    </button>
  </div>
  <div>
    <button
      mat-stroked-button
      color="primary"
      class="btn-300 btn-margin"
      [class.active]="driveTypes.Performance === state.drive.drive"
      (click)="onDriveTypeChange(driveTypes.Performance)"
    >
      Performance
    </button>
  </div>
</div>
